<div class="menu_container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="csi_mobile" class="custom-search-input">
                {{ include('@AppBundle/Resources/views/Client/Common/Partial/search.html.twig') }}
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'homepage' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('homepage') }}" class="{{menu_link_class}}">Home</a></li>
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'used_machines' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('used_machines') }}" class="{{menu_link_class}}">Used machines</a></li>
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'sell_your_machines' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('sell_your_machines') }}" class="{{menu_link_class}}">Sell your machines</a></li>
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'spare_parts' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('spare_parts') }}" class="{{menu_link_class}}">Spare parts</a></li>
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'newsletter' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('newsletter') }}" class="{{menu_link_class}}">Newsletter</a></li>
                {% set menu_link_class="" %}
                {% if app.request.attributes.get('_route') == 'contact' %}
                    {% set menu_link_class="active" %}
                {% endif %}
                <li><a href="{{ path('contact') }}" class="{{menu_link_class}}">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img id="imgNavSet" src="img/flags/gb.svg" alt="en" class="icon_small">  <span id="lanNavSet">English</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="navEng" href="#" class="language"> <img id="imgNavEng" src="img/flags/gb.svg" alt="en" class="icon_small">  <span id="lanNavEng">English</span></a></li>
                        <li><a id="navDeu" href="#" class="language"> <img id="imgNavDeu" src="img/flags/de.svg" alt="de" class="icon_small">  <span id="lanNavDeu">Deutsch</span></a></li>
                        <li><a id="navFre" href="#" class="language"><img id="imgNavFre" src="img/flags/fr.svg" alt="fr" class="icon_small">  <span id="lanNavFre">French</span></a></li>
                        <li><a id="navSpa" href="#" class="language"><img id="imgNavSpa" src="img/flags/es.svg" alt="sp" class="icon_small">  <span id="lanNavSpa">Spanish</span></a></li>
                        <li><a id="navIta" href="#" class="language"><img id="imgNavIta" src="img/flags/it.svg" alt="it" class="icon_small">  <span id="lanNavIta">Italian</span></a></li>
                        <li><a id="navRom" href="#" class="language"><img id="imgNavRom" src="img/flags/ro.svg" alt="ro" class="icon_small">  <span id="lanNavRom">Romanian</span></a></li>
                    </ul>
                </li>
            </ul>
            <div id="csi_screen" class="custom-search-input">
                {{ include('@AppBundle/Resources/views/Client/Common/Partial/search.html.twig') }}
            </div>
        </div>
    </nav>
</div>