<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="filters_accordion">
        	{% for key, value in filters %}
        		<h5>
        			<a href="{{ path('used_machines', {'category': value.id}) }}">{{key}}</a>
        			<span class="float_right count_badge">{{value.nr}}</span>
        		</h5>
        		<div class="filter_content">
                    {% if key != 'Other machines' %}
                        <div class="filter_line">
                            <div class="filter_link">
                                <a href="{{ path('used_machines', {'category': value.id}) }}" class="for_category">All from this category</a>
                            </div>
                            <div class="filter_count"> 
                                <span class="count_badge">{{value.nr}}</span>
                            </div>
                        </div>
                    {% endif %}
	        		{% for k, v in value.subcategory %}
                        {% if k != 'Hidden' %}
                            <div class="filter_line">
        	        			<div class="filter_link">
        		        			<a href="{{ path('used_machines', {'subcategory': v.id}) }}">{{k}}</a>
                                </div>
                                <div class="filter_count"> 
        		        			<span class="count_badge">{{v.nr}}</span>
        		        		</div>
                            </div>
                        {% endif %}
	        		{% endfor %}
        		</div>
        	{% endfor %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" id="products_grid">
        <div class="row">
            {% for product in pagination %}
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-block">
                            {% set productLink = path('product', {'product': product.id}) %}
                            <a href="{{ productLink }}">

                                {% if(product.productFiles|length > 0) %}
                                    <img src="img/products/{{product.productFiles[0].name}}" alt="machine_1.jpg" class="card-img-top">
                                {% else %}
                                    <img src="img/no_product_image.png" alt="machine_1.jpg"  class="card-img-top">
                                {% endif %}
                            </a>
                            <div class="card-block">
                                <h4 class="card-title">{{product.name}}</h4>
                                <p class="card-text">{{product.reference}}</p>
                            </div>
                            <div class="text-center">
                                <a href="{{ productLink }}" class="btn btn-lime">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination)|raw }}
        </div>
    </div>
</div>
