<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="filters_accordion">
        	{% for key, value in filters %}
        		<h5>
        			<a href="{{ path('used_machines', {'category': value.id}) }}">{{key}}</a>
        			<span class="float_right count_badge">{{value.nr}}</span>
        		</h5>
        		<div class="filter_content">
	        		{% for k, v in value.subcategory %}
                        <div class="filter_line">
    	        			<div class="filter_link">
    		        			<a href="{{ path('used_machines', {'subcategory': v.id}) }}">{{k}}</a>
                            </div>
                            <div class="filter_count"> 
    		        			<span class="count_badge">{{v.nr}}</span>
    		        		</div>
                        </div>
	        		{% endfor %}
        		</div>
        	{% endfor %}
        </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    </div>
</div>
