{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ flashMessage }}</strong>
    </div>
{% endfor %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 contact_top_text mrg_bottom_20">
        <h4>Buy Used Machinery through MachinePoint</h4>
        <p>A reliable partner is crucial when you are buying used machinery. MachinePoint has been selling used machinery for over 15 years with an outstanding reputation in making transactions smooth, safe and minimizing risks in the operation. Due to our large international network we are able to find the best machines for sale in the market. We buy and sell machinery, you will be buying directly from MachinePoint making the transactions more secure. We also accept letters of credit and other financial instruments.</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5 contact_top_image mrg_bottom_20 text-center">
        <img src="{{ app.request.schemeAndHttpHost ~ img_path ~ 'components/world.jpg' }}" alt="world" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 contact_interes_text mrg_bottom_20">
        <h4>What are you looking for?</h4>
        <p>A reliable partner is crucial when you are buying used machinery. MachinePoint has been selling used machinery for over 15 years with an outstanding reputation in making transactions smooth, safe and minimizing risks in the operation. Due to our large international network we are able to find the best machines for sale in the market. We buy and sell machinery, you will be buying directly from MachinePoint making the transactions more secure. We also accept letters of credit and other financial instruments.</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5 contact_interes_image mrg_bottom_20 text-center">
        <img src="{{ app.request.schemeAndHttpHost ~ img_path ~ 'components/call_us_now.jpg' }}" alt="call us now" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrg_top_30 contact_form">            
        {{ form_start(contactForm) }}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bk_color_ddd pdg_bot_10">
                    <h4>ENQUIRY FORM</h4>
                    <div class="form-group">
                        {{ form_label(contactForm.name) }}
                        {{ form_widget(contactForm.name, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.company) }}
                        {{ form_widget(contactForm.company, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.company) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.city) }}
                        {{ form_widget(contactForm.city, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.city) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.contactNumber) }}
                        {{ form_widget(contactForm.contactNumber, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.contactNumber) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.email) }}
                        {{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.country) }}
                        {{ form_widget(contactForm.country, { 'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(contactForm.country) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bk_color_ddd pdg_bot_10">
                    <h4 class="invisible">Just for padding</h4>
                    <div class="form-group">
                        {{ form_label(contactForm.comment) }}
                        {{ form_widget(contactForm.comment, { 'attr': {'class': 'form-control description_height'}}) }}
                        {{ form_errors(contactForm.comment) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 contact_note">
                    <h4>PLEASE NOTE</h4>
                    <p class="note">This form is for general enquiries regarding our company, website and for expressing your interest in selling your machines through us.</p><p> If you wish to contact us about purchasing a particular machine then please click the 'contact us about this item' button for that particular machine on the category and product pages.</p><p> Alternatively call us on <strong>+44 (0)1457 766 760</strong></p>
<!--                     <p class="required">* Required Fields</p> -->
                    <div class="form-group text-center">
                        {{ form_widget(contactForm.send, { 'attr': {'class': 'btn btn-lime'}}) }}
                    </div>
                </div>
            </div>
            <!-- <div class="form-group" id="grecaptcha_wrapper">
                <div class="g-recaptcha" data-sitekey="6LcthyoUAAAAADMuvPuy17kfoDB8v3u7BAYA7bd4" data-size="normal"></div>
            </div> -->
            
        {{ form_end(contactForm) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 mrg_top_30">
        <div id="contact_map"></div>
    </div>
</div>
<script>
  function initMap() {
    var point = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('contact_map'), {
      zoom: 6,
      center: point
    });
    var marker = new google.maps.Marker({
      position: point,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe0apUUM54eripUfE3ioVAOxy2GJzZCkU&callback=initMap">
</script>
