{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ flashMessage }}</strong>
    </div>
{% endfor %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 contact_top_text mrg_bottom_20">
        <h4>Buy Used Machinery through MachinePoint</h4>
        <p>A reliable partner is crucial when you are buying used machinery. MachinePoint has been selling used machinery for over 15 years with an outstanding reputation in making transactions smooth, safe and minimizing risks in the operation. Due to our large international network we are able to find the best machines for sale in the market. We buy and sell machinery, you will be buying directly from MachinePoint making the transactions more secure. We also accept letters of credit and other financial instruments.</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5 contact_top_image mrg_bottom_20 text-center">
        <img src="{{ app.request.schemeAndHttpHost ~ img_path ~ 'components/world.jpg' }}" alt="world" />
    </div>
</div>
{{ form_start(contactForm) }}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 contact_interes_text mrg_bottom_20">
        <h4>What are you looking for?</h4>
        <div class="form-group">
            {{ form_label(contactForm.productCategory) }}
            {{ form_widget(contactForm.productCategory, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.productCategory) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.machineType) }}
            {{ form_widget(contactForm.machineType, { 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.machineType) }}
        </div>
        <p>
            Looking for something specific?
            <a class="btn btn-lime" data-toggle="collapse" data-target="#extra_preferences">Tell us more</a>
        </p>
        <div id="extra_preferences" class="collapse">
            <div class="form-group">
                {{ form_label(contactForm.modelPurpose) }}
                {{ form_widget(contactForm.modelPurpose, { 'attr': {'class': 'form-control'}}) }}
                {{ form_errors(contactForm.modelPurpose) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.machinePurpose) }}
                {{ form_widget(contactForm.machinePurpose, { 'attr': {'class': 'form-control'}}) }}
                {{ form_errors(contactForm.machinePurpose) }}
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5 contact_interes_image mrg_bottom_20 text-center">
        <img src="{{ app.request.schemeAndHttpHost ~ img_path ~ 'components/call_us_now.jpg' }}" alt="call us now" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact_form"> 
        <h4>Help us contact you?</h4>           
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    {{ form_label(contactForm.name) }}
                    {{ form_widget(contactForm.name, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.company) }}
                    {{ form_widget(contactForm.company, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.company) }}
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.city) }}
                    {{ form_widget(contactForm.city, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.city) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    {{ form_label(contactForm.contactNumber) }}
                    {{ form_widget(contactForm.contactNumber, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.contactNumber) }}
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.email) }}
                    {{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.email) }}
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.country) }}
                    {{ form_widget(contactForm.country, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(contactForm.country) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    {{ form_label(contactForm.comment) }}
                    {{ form_widget(contactForm.comment, { 'attr': {'class': 'form-control description_height', 'rows':'6'}}) }}
                    {{ form_errors(contactForm.comment) }}
                </div>
                <div class="form-group text-center">
                    {{ form_widget(contactForm.send, { 'attr': {'class': 'btn btn-lime'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(contactForm) }}
